.footer {
    padding: $size-small-1 0;

    &-text {
        color: $color-secondary;
        margin: $margin-center;
        text-align: $text-center;
    }

    &-icon:link,
    &-icon:visited {
        color: $color-secondary;
        font-size: $size-tiny-4;
        margin-left: .5rem;
        text-decoration: $text-no-decoration;
        transition: $standard-transition;
    }

    &-icon:hover,
    &-icon:active,
    &-icon:focus {
        color: $color-white;
    }
}